.Rproj.user
.Rhistory
.RData
.Ruserdata
praesentation_praktikum_schlaganfall_files/
praesentation_praktikum_schlaganfall.html
praesentation_praktikum_schlaganfall_update_files/
praesentation_praktikum_schlaganfall_update.html